
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto+sans+jp", sans-serif;
}
body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#head {
    margin: 10px;
}
.play-ground {
    display: flex;
    justify-content: center;
    background-color: brown;
    padding: 20px;
    margin: 50px;
    width: 500px;

    

}
li {
    list-style: none;
    padding: 5px;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}
/*code was taken from https://www.codingnepalweb.com/build-memory-card-game-html-javascript/
to get the icons to align in 4x4*/
.cards .play-card {
    cursor: pointer;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.play-card {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    width: 30px;
}
/*Flip animation taken from:https://www.codingnepalweb.com/build-memory-card-game-html-javascript/*/
.play-card .side {
    backface-visibility: hidden;
}
.play-card .back {
    transform: rotateY(-180deg);
}
.play-card:hover .back {
    transform: rotateY(0);
}
.play-card:hover .front {
    transform: rotateY(-180deg);
}
.front {
    color: rgb(37, 23, 50);
}
.side {
    font-size: 40px;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: beige;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
